{# #######################
base.html
##########################

This is the base file for the report. This is kept as a bare skeleton and
imports the rest of the template in as blocks.

This file is called when generating the report. It's filename must be
specified in __init__.py, eg:

template_fn = 'base.html'

#}
<!doctype html>
<html lang="en">

<head>
  <!--
  __  __       _ _   _  ___   ____
 |  \/  |_   _| | |_(_)/ _ \ / ___|
 | |\/| | | | | | __| | | | | |
 | |  | | |_| | | |_| | |_| | |___
 |_|  |_|\__,_|_|\__|_|\__\_\\____|

Abandon hope all ye who enter here..
http://multiqc.info
-->

  {% include 'head.html' %}
  {% include 'includes.html' %}
</head>

<body>
  {% include 'nav.html' %}


  <div class="mainpage">
    <div class="p-4 pe-5">
      {% include 'header.html' %}
      {% include 'general_stats.html' %}
      {% include 'content.html' %}
    </div>

  </div>

  <!-- Bootstrap Toast Container -->
  <div class="toast-container position-fixed bottom-0 end-0 p-3" id="toast-container"></div>

  <!-- Toast Template (hidden) -->
  <div class="toast d-none" id="toast-template" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <span class="me-2 toast-icon"></span>
      <strong class="me-auto toast-heading"></strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body"></div>
  </div>
  <script>
    // Reorder modules
    // Navbar
    nav = document.getElementsByClassName("mqc-nav")[0]
    analysisSection = null
    cellRanger = null
    readStats = null
    megablastQC = null
    cutAdapt = null
    nav.querySelectorAll("li").forEach(li => {
        if (li.querySelector("a").textContent.includes("Secondary Analysis"))
            analysisSection = li
        if (li.querySelector("a").textContent.includes("Cell Ranger"))
            cellRanger = li
        if (li.querySelector("a").textContent.includes("Read Stats"))
            readStats = li
        if (li.querySelector("a").textContent.includes("MegaBlast QC"))
            megablastQC = li
        if (li.querySelector("a").textContent.includes("Cutadapt"))
            cutAdapt = li
    })
    nav.insertBefore(analysisSection, cellRanger)
    nav.insertBefore(readStats, cutAdapt)
    nav.insertBefore(megablastQC, analysisSection)
    
    processingArray = []
    analysisArray = []

    // Get all MDG Processing and QC and Analysis modules
    document.querySelectorAll(".mqc-nav > li").forEach(li => {
      const asub = li.querySelector("a")
      if (asub.textContent.includes("bcl2fastq") || asub.textContent.includes("FastQC") ||
       asub.textContent.includes("Cutadapt") || asub.textContent.includes("Trimmomatic") ||
        asub.textContent.includes("Read Stats") || asub.textContent.includes("MegaBlast QC")) {
        asub.textContent = "⠀"  + asub.textContent // Add an indent
        processingArray.push(li) // fill out MDG Processing and QC array
        li.style.display = "none" // default to hiding
      }
      else if (asub.textContent.includes("Cell Ranger") || asub.textContent.includes("Space Ranger")) {
        asub.textContent = "⠀"  + asub.textContent
        analysisArray.push(li)
        li.style.display = "none"
      }
    })

    document.querySelectorAll(".mqc-nav > li").forEach(li => { // Get all children of navbar
      const sub = li.querySelector("ul"); // Get the list elements of each child

      const a = li.querySelector(":scope > a");
      if (sub) { sub.style.display = "none"; }

      a.addEventListener("click", e => {
        alternateSubModules()
        document.querySelectorAll(".mqc-nav > li").forEach(li1 => {
          const sub1 = li1.querySelector("ul");
          if (!sub1) return; // nothing to do if no children

          if (li !== li1) { // close all sections that aren't this one
            if (!(li1.querySelector("a").textContent.includes("MDG Processing and QC") && processingArray.includes(li))
                && !(li1.querySelector("a").textContent.includes("Secondary Analysis") && analysisArray.includes(li))) {
                // Don't close parent sections if opening child sections
                sub1.style.display = "none";
            }
            if (li1.querySelector("a").textContent.includes("MDG Processing and QC") && !processingArray.includes(li)) { // Hide submodules of previous section
                processingArray.forEach(li2 => {
                    li2.style.display = "none"
                })
            }
            if (li1.querySelector("a").textContent.includes("Secondary Analysis") && !analysisArray.includes(li)) {
                analysisArray.forEach(li2 => {
                    li2.style.display = "none"
                })
            }
          }
        });
        if (sub) { // Hide or show children of each section based on current display status
          sub.style.display =
            sub.style.display === "none" ? "block" : "none";
        }

        function alternateSubModules() {
            if (li.querySelector("a").textContent.includes("MDG Processing and QC")) { // Hide or show submodules
                processingArray.forEach(li2 => {
                    if (li2.style.display == "none") {
                    li2.style.display = "block"
                    }
                    else {
                    li2.style.display = "none"
                    }
                })
                }
                if (li.querySelector("a").textContent.includes("Secondary Analysis")) {
                analysisArray.forEach(li2 => {
                    if (li2.style.display == "none") {
                    li2.style.display = "block"
                    }
                    else {
                    li2.style.display = "none"
                    }
                })
            }
        }
      });
    });
  </script>
  <script>
    // Hidden Top 50 hits for MDG Megablast Table

    var megaBlastTable = document.getElementById("megablast_qc-plot_table").getElementsByTagName("tbody")[0];
    var topHitsTables = Array.from(document.querySelectorAll(`[id^=${"mqc-section-wrapper-top_hits_"}]`))

    // Hide all tophits nav bar boxes
    Array.from(document.getElementsByClassName("mqc-nav")[0].getElementsByTagName("li")).forEach(x => {
      if (Array.from(x.getElementsByTagName("a"))[0].getAttribute("href").startsWith("#top_hits_")) {
        x.style.display = "none"
      }
    })

    // Hide all tophits tables
    topHitsTables.forEach(x => {
      x.style.display = "none"
    })

    Array.from(megaBlastTable.getElementsByTagName("tr")).forEach((tr, index) => {
      tr.addEventListener("click", () => {
        // Show or hide corresponding top hits table based on it's current state
        if (topHitsTables[index].style.display == "none") {
          topHitsTables[index].style.display = "block"
        }
        else {
          topHitsTables[index].style.display = "none"
        }
      })
      tr.addEventListener("mouseenter", () => {
        // Display pointer cursor when hovering over megablast table
        tr.style.cursor = "pointer"
      })
      tr.addEventListener("mouseleave", () => {
        // Switch to auto cursor when moving off megablast table
        tr.style.cursor = "auto"
      })
    })
  </script>
  <script>
    // Reorder report content
    content = document.getElementsByClassName("mqc-module-section")
    parent = document.getElementsByClassName("p-4 pe-5")[0]

    Array.from(content).forEach(div => { //Find the Secondary Analysis section and Cell Ranger module
        if (div.getAttribute("id").includes("secondary_analysis"))
            analysisSection = div
        if (div.getAttribute("id").includes("cellranger"))
            cellRanger = div
        if (div.getAttribute("id").includes("read_stats"))
            readStats = div
        if (div.getAttribute("id").includes("megablast_qc"))
            megablastQC = div
        if (div.getAttribute("id").includes("cutadapt"))
            cutAdapt = div
    })
    parent.insertBefore(analysisSection, cellRanger)
    parent.insertBefore(readStats, cutAdapt)
    parent.insertBefore(megablastQC, analysisSection)


    // Collapsible sections
    moduleSections = Array.from(document.getElementsByClassName("mqc-module-section")) //every module section

    processingSections = []
    analysisSections = []

    moduleSections.forEach(div => {
      if (div.getAttribute("id").includes("bcl2fastq") || div.getAttribute("id").includes("fastqc") || 
          div.getAttribute("id").includes("cutadapt") || div.getAttribute("id").includes("trimmomatic")
         || div.getAttribute("id").includes("read_stats") || div.getAttribute("id").includes("megablast_qc")) {
        processingSections.push(div)
      }
      if (div.getAttribute("id").includes("cellranger") || div.getAttribute("id").includes("spaceranger")) {
        analysisSections.push(div)
      }
    })

    collapseButton = document.getElementById("collapse_sections")
    collapsed = false

    moduleSections.forEach(x => {
      header = Array.from(x.getElementsByTagName("h2"))[0] //event when click on title
      header.addEventListener("click", () => {
        if (x.getAttribute("id").includes("general_stats")) { //special case for general stats table
          genStatsTable = x.querySelector("[id=mqc_violintable_wrapper_general_stats_table_table]")
          if (genStatsTable.style.display == "none") {
            genStatsTable.style.display = "block"
          }
          else {
            genStatsTable.style.display = "none"
          }
        }
        mqcSections = Array.from(x.querySelectorAll("[class^=mqc-section ]"))
        mqcSections.forEach(y => {
          if (y.style.display == "none") {
            y.style.display = "block"
            if (y.hasAttribute("id") && y.getAttribute("id").includes("top_hits")) {
              y.style.display = "none"
            }
          }
          else {
            y.style.display = "none"
          }
        })
        if (x.getAttribute("id").includes("mdg_processing")) {
          if (showProcess == false) {
            showProcess = true
            processingSections.forEach(z => {
                z.style.display = "block"
            })
          }
          else {
            showProcess = false
            processingSections.forEach(z => {
                z.style.display = "none"
            })
          }
        }
        if (x.getAttribute("id").includes("secondary_analysis")) {
          if (showAnalysis == false) {
            showAnalysis = true
            analysisSections.forEach(z => {
                z.style.display = "block"
            })
          }
          else {
            showAnalysis = false
            analysisSections.forEach(z => {
                z.style.display = "none"
            })
          }
        }
      })
      header.addEventListener("mouseenter", () => {
        // Display pointer cursor when hovering over header
        document.body.style.cursor = "pointer"
      })
      header.addEventListener("mouseleave", () => {
        // Switch to auto cursor when moving off header
        document.body.style.cursor = "auto"
      })
    })

    // Collapse all sections button
    collapseButton.addEventListener("click", () => {
        collapsed = !collapsed
        displayState = ""
        if (collapsed) {
        displayState = "none"
        collapseButton.innerHTML = "Expand All Sections"
      }
      else {
        displayState = "block"
        collapseButton.innerHTML = "Collapse All Sections"
      }

      moduleSections.forEach(x => {
        header = Array.from(x.getElementsByTagName("h2"))[0] //event when click on title

        if (x.getAttribute("id").includes("general_stats")) { //special case for general stats table
          genStatsTable = x.querySelector("[id=mqc_violintable_wrapper_general_stats_table_table]")
          genStatsTable.style.display = displayState
        }
        mqcSections = Array.from(x.querySelectorAll("[class^=mqc-section ]"))
        mqcSections.forEach(y => {
          y.style.display = displayState
          if (y.hasAttribute("id") && y.getAttribute("id").includes("top_hits")) {
            y.style.display = "none"
          }
        })
        if (processingSections.includes(x) || analysisSections.includes(x)) {
            x.style.display = displayState
        }
      })
      showProcess = !collapsed
      showAnalysis = !collapsed
    })
  </script>
  {% include 'foot.html' %}
</body>

</html>